<section id="our-services" style="background-image: url('{{file_url(content.field_background_image['#items'].entity.uri.value)}}');background-repeat: no-repeat; width: 100%; background-size: cover; background-position: left;">
  <div class="our-service-overlay">
    <div class="container">
      <div class="row">
      <div class="col-md-4 ml-auto service-lists wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-list-inner">
          <h2>{{content.field_title.0}} <span>{{content.field_subtitle.0}}</span></h2>
          <ul>
            <li>{{content.field_our_services}}</li>
            
          </ul>
        </div>  
      </div>
    </div>
  </div>  
</section>