<!-- Get in touch section -->
<section id="get-in-touch">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 contact-details wow fadeInUp" data-wow-delay="0.3s">
       {{ content.field_google_map }}
      </div>
      <div class="col-md-4 reservation-form wow fadeInUp" data-wow-delay="0.6s">  
        <div class="reservation-form-inner">
        <h3>{{content.field_title.0}}</h3>
          {{ content.field_contact_form }}
        </div>
      </div>
    </div>
  </div>
</section>
