<section id="about">
  <div class="container">
    <div class="row about-respons">
      <div class="col-md-9 ml-auto about-caption-outer wow fadeInLeft" data-wow-delay="0.6s">
        <div class="about-caption">
        <img src="{{file_url(content.field_background_image['#items'].entity.uri.value)}}" alt="about-bg-img" class="img-responsive">
          <h3>{{content.field_title.0}}</h3>
          <p>{{content.field_description.0}}</p>
        </div>  
      </div>
    </div>
      <div class="col-md-3 server-img wow fadeInLeft" data-wow-delay="0.3s">
      <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" class="img-responsive" alt="server-images">
      </div>
  </div>
</section>