
p,a,h3,h4,h5,h6,li,span{
    font-family: 'Open Sans', sans-serif !important;
}

p::selection, h1::selection,h2::selection, h3::selection, h4::selection, h5::selection, h6::selection ,span::selection{
        color: #fff;
        background:#e8002a;
}       
h1,h2{
    font-family: 'Satisfy', cursive;
}
.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu{
    left: 786px !important;
    top: 2377px !important;
}
a.btn.btn-info:hover {
    color: #fefefe !important;
    background-color: #e8002a !important;
    border-color: #e8002a;
}

a.btn.btn-info.view-btn {
    color: #fefefe !important;
    background-color: #e8002a !important;
    border-color:3px solid #e8002a;
    margin-right: 12px;
}
a.btn.btn-info.view-btn:hover {
    color: #fefefe !important;
    background-color: transparent !important;
    border-color:3px solid #e8002a;
}
.btn.btn-info {
    width: auto;
    font-size: 16px;
    padding: 15px 56px;
    background-color: transparent;
    border: 3px solid #e8002a;
    border-radius: 38px;
}

/* INDEX PAGE CSS */
/* NAVBAR SECTION */
.dropdown-item{
    padding:13px 20px;
}

.dropdown-menu{
    padding: 0px;
    background-color: #f5f5f5;
    border-radius: 0px;
}
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ef3469;
    font-weight: bolder;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    margin-top: -1px !important;
}
.navbar {
    position: relative;
    transition: all 0.3s ease;
    display: block;
    padding: 0px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fefefe;
    padding:30px 0px;
    font-size: 16px;
    font-weight: bolder;
    margin-right: 42px;
}
.navbar-light .navbar-nav .nav-link.active {
    border-bottom: 4px solid #e8002a;
    font-weight: 600;
    color: #fefefe;
    border-top: 4px solid #e8002a;
}
.navbar-light .navbar-nav .nav-link:hover {
    border-top: 4px solid #e8002a;
    color: #e8002a !important;
    border-bottom: 4px solid #e8002a;
}

.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
}
.navbar-toggler {
    padding: .25rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: 0;
}
li.nav-item.dropdown.active a {
    color: #fff !important;
    border-bottom: 4px solid #fff;
}
a.nav-link.btn.btn-info {
    background-color: #ef3469;
    padding: 3px 15px;
    font-size: 14px;
    margin-bottom: 0px;
    border-radius: 2px;
    margin-top: 14px;
    border: none;
    border: 2px solid #ef3469;
}
.sticky a.nav-link.btn.btn-info{
    margin-top: 18px;
    padding: 3px 15px !important;
}
#header {
    padding: 0px;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.3s ease;
    z-index: 997;
    background-color: #000;
}
#header.header-bg{
   background-color: rgba(0,0,0,0.5) !important;
}
.sticky .navbar {
    padding:0px;
}
/* END NAVBAR SECTION */
/* BANNER SLIDER SECTION */
#banner-slider .carousel-caption.d-none.d-md-block {
    position: absolute;
    right: 0%;
    left: 51%; 
    padding-bottom: 185px;
    left: 7%;
} 
li.active:before {
    content: '';
    border: 2px solid #e8002a;
    padding: 10px;
    position: absolute;
    top: -6px;
    border-radius: 100%;
    left: -5px;
}  
#banner-slider .carousel-caption.d-none p {
    color: #fff;
    font-size: 19px;
    font-weight: 100;
    padding-right: 90px;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
}
.carousel-inner{
    height: 750px;
}
.carousel-item:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index:1;
}
#banner-slider .carousel-inner .carousel-item img{
    height: 750px !important;
    position: relative;
    left: 0;
    right: 0;
}
#banner-slider .carousel-caption .btn.btn-info{
    width: auto;
    font-size: 16px;
    padding: 14px 72px;
    background-color: transparent;
    border: 3px solid #e8002a;
    border-radius: 38px;
}
#banner-slider .carousel-caption.d-none h2 {
    font-size: 85px;
    color: #fefefe;
    font-weight: 800;
    letter-spacing: 1px;    
    line-height: 65px;
    padding-bottom: 10px;
}
#banner-slider p>span {
    color: #fefefe;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 0px;
}
#banner-slider .carousel-caption.d-none .btn.btn-infos {
        padding: 12px 32px;
        margin-top: 30px;
}
.carousel-indicators{
    bottom: 15px;
}
.carousel-indicators li {
    margin-right: 6px;
    margin-left: 6px;
    width: 13px !important;
    height: 13px !important;
    border-radius: 15px !important;
    background-color: #f0506e;
}
.carousel-indicators .active  {
    background-color: #e8002a  !important;
    border: none;
    border-radius: 15px !important;
}
/* About section */
#about{
    background-color: #f1f1f1;
    height: 845px;
    padding-top: 200px;
}
.about-caption-outer{
    padding: 0px;
}
.about-caption {
    height: 375px;
}
.about-caption:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(244, 7, 7, 0.8);
    /*background-color: rgba(232, 0, 42, 0.8);*/
    z-index: 0;
    border-radius: 30px;
}
.about-caption img {
    height: 375px;
    width: 100%;
    border-radius: 30px;
    padding: 0px;
}
.about-caption h3{
    font-weight: bolder;
    font-size: 42px;
    color: #fbeff1;
}
.about-caption p{
    font-size: 17px;
    padding: 0px 70px 0px 263px !important;
    line-height: 22px;
    color: #fbeaeb;
}
.about-caption h3 , .about-caption p{
    position: relative;
    bottom: 342px;
    padding: 0px 146px 0px 256px;
}
.server-img img {
    position: relative;
    bottom: 428px;
    right: 76px;
    width: 500px;
}
.server-img {
    height: 270px;
}
/* End About section */
/* Our services section */
#our-services{
    height: 820px;
}
.our-service-overlay {
    width: 100%;
    height: 100%;
    position: initial; 
    overflow: hidden; 
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.service-lists{
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 320px;
}
.service-list-inner h2{
    font-size: 110px;
    color: #e8002a;
    font-weight: bolder;
    line-height: 52px;
    padding-bottom: 15px;
}
.service-list-inner {
    padding: 80px 30px 15px 50px;
}
.service-list-inner h2>span{
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #000;
}
.service-list-inner ul{
    list-style-type: none;
    padding: 0px;   
}
.service-list-inner li{
    font-size: 20px;
    color: #000;
    padding-bottom: 6px;
}    
/* End Our services section */
/* Special Menu  SECTION*/
#special-menu {
    padding: 80px 0px;
    background-color: #f1f1f1;
}
#special-menu h2{
    color: #000;
    font-weight: bolder;
    font-size: 75px;
    line-height: 54px;
}
#special-menu .owl-carousel .owl-item img {
     width:100%; 
}
.special-menu-items {
    padding: 8px;
    height: 425px;
}
#special-menu span {
    font-family: 'Satisfy', cursive !important;
    color: #e8002a;
}
#special-menu h3 {
    color: #525252;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 100;
}
.special-menu-title {
    padding-bottom: 55px;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color: rgba(244, 7, 7, 0.8);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
color: #fff;
padding:100px 20px 0px;
}
.overlay h4{
    font-size: 45px;
    margin-bottom: 0px;
}
.overlay p {
    font-size: 21px;
    font-weight: 600;
    position: relative;
    bottom: 8px;
    margin-bottom: 0px;
}
.overlay h5 {
    font-weight: bolder;
    font-size: 45px;
    padding-bottom: 42px;
}
.overlay .btn.btn-info {
    padding: 3px 45px;
    border: 2px solid #fff;
    border-radius: 38px;
}
.overlay .btn.btn-info:hover{
    border:2px solid #fff;
    cursor: pointer;
}
.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}
.hovereffect .fa-search:before{
    font-size: 36px;
}

.hovereffect h2 {
color:#fff;
text-align:left;
position:relative;
font-size:22px;
padding:30px;
top: 162px;
font-weight: bolder;

}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
color:#fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
position: relative;
top: 105px;
padding:7px 14px;
}


.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
#special-menu .owl-carousel .owl-nav.disabled {
    display: block !important;
}
#special-menu .owl-prev {
    color: #737373 !important;
    font-size: 38px !important;
    font-weight: 100 !important;
    position: relative;
    top: -250px;
    left: -32px;
    font-size: 50px !important;
}

#special-menu .owl-next {
    color: #737373 !important;
    font-size: 38px !important;
    font-weight: 100 !important;
    position: relative;
    top: -250px;
    right: -32px;
    float: right;
    font-size: 50px !important;
}
button:focus {
    outline: none !important;
}    
/*END Special Menu SECTION*/
/* Catering Section */
#catering {
    padding-top: 150px;
}
.catering-image{
    height: 430px;
}
.catering-image img{
    width: 100%;
    height: 430px;
    border-radius: 35px;
    box-shadow: 0px 0px 61px -3px rgba(186,179,186,1);
}
.catering-caption-outer{
    position: relative;
    bottom: 255px;
    right: 0px;
}
.catering-caption {
    box-shadow: 0px 0px 61px -3px rgba(186,179,186,1);
    border-radius: 35px;
    padding: 32px 65px;
    background-color: #fff;
}
.catering-caption p{
    letter-spacing: 0.5px;
    line-height: 23px;
    font-size: 17px;
    color: #000;
}
.catering-caption h2 {
    color: #e8002a;
    font-size: 90px;
    font-weight: bolder;
    padding-bottom: 40px;
}
.catering-btn .btn.btn-info {
    font-size: 18px;
    padding: 15px 80px;
    background-color: #e8002a;
    border: 3px solid #e8002a;
}
.catering-btn .btn.btn-info:hover {
    background-color: #fff !important;
    border: 3px solid #e8002a;
    color: #e8002a !important;
}
.catering-btn {
    padding-top: 45px;
    padding-bottom: 6px;
}
/* End Catering Section */
/* Reservation Section */
#reservation {
    height: 400px;
}
#reservation ::-webkit-input-placeholder {
    color: ::#191919;
}   
.restaurant-info{
    color: #fefefe;
}
.reservation-overlay{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(244, 7, 7, 0.8);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.restaurant-info p {
    font-size: 20px;
    padding-bottom: 12px;
}
.restaurant-info h6 {
    font-size: 23px;
    color: #fefefe;
    margin-bottom: 0px;
    line-height: 28px;
}
.restaurant-info {
    padding: 110px 0px;
    text-align: right;
}
.restaurant-info span {
    font-family: 'Satisfy', cursive !important;
    font-weight: bolder;
    font-size: 30px;
}
.restaurant-info a {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
}
.restaurant-info a:hover{
    text-decoration: none;
}
.reservation-form-inner{
    padding: 22px;
}
.reservation-form-inner form {
    background-color: #fff;
    padding:12px 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.reservation-form-inner h3{
    background-color: #7e7e7e;
    margin-bottom: 0px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    padding: 16px 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}/*
.form-control:focus{
    box-shadow: 0 0 0 0.1rem #e8002a;
}
.gj-datepicker-bootstrap :focus{
    box-shadow: 0 0 0 0.1rem #e8002a;
}*/
.reservation-form-inner input , .reservation-form-inner select {
    background-color: #f1f1f1 !important;
    border: none !important;
    font-size: 14px !important;
    padding: 7px !important;
    color: #919191;
}
.form-field {
    padding-right: 8px;
    padding-left: 8px;
}
.form-btn .btn.btn-info{
    font-size: 18px;
    padding: 3px 36px;
    background-color: #e8002a;
    border: 2px solid #e8002a;
}
.form-btn .btn.btn-info:hover{
    background-color: #fff !important;
    color: #e8002a !important;
}
.form-btn {
    padding-top: 30px;
    padding-bottom: 4px;
}
.gj-datepicker-bootstrap [role=right-icon] button {
    border: none;
    bottom: 9px;
}
.gj-datepicker-bootstrap [role=right-icon] button {
    width: 38px;
    position: relative;
    border: 1px solid #f1f1f1;
    height: 36px;
    top: 0px;
}
span.input-group-append {
    background-color: #f1f1f1;
}
/* Reservation Section */
/* Our Team */
#our-team{
    background-color: #f1f1f1;
    padding: 100px 0px;
}
.our-team-image{
    padding: 0px;
}
#our-team img{
    width: 100%;
}
#our-team h2 {
    color: #e8002a;
    font-size: 100px;
    font-weight: bolder;
    line-height: 56px;
    padding-top: 35px;
    padding-bottom: 15px;
}
#our-team h2>span{
    font-size: 42px;
    color: #535353;
    font-weight: 100;
}
#our-team p {
    font-size: 17px;
    padding-left: 35px;
    line-height: 24px;
}
.ourteam-btn {
    padding-top: 8px;
}
.ourteam-btn .btn.btn-info{
    font-size: 18px;
    padding: 9px 36px;
    background-color: #e8002a;
    border: 2px solid #e8002a;
}
.ourteam-btn .btn.btn-info:hover {
    background-color: #fff !important;
    color: #e8002a !important;
}
/* End Our Team */
/* Our Clients */
#our-clients {
    padding: 80px 0px 150px;
}
#our-clients h2 {
    color: #e8002a;
    font-size: 100px;
    font-weight: bolder;
    line-height: 56px;
    padding-top: 35px;
    padding-bottom: 15px;
}
#our-clients h2>span{
    font-size: 30px;
    color: #535353;
    font-weight: 600;
}
.clients-bg {
    background-color: #e8002a;
    height: 270px;
    border-radius: 20px;
}
#our-clients .owl-carousel .owl-item img {
    display: block;
    width: 312px;
    position: relative;
    left: 45px;
}
#our-clients p {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 76px 141px 0px 36px;
    line-height: 23px;
}
#our-clients .loop.owl-carousel.owl-theme.owl-loaded.owl-drag {
    height: 350px;
}
#our-clients .owl-carousel .owl-stage-outer{
    height: 300px;
}
#our-clients  .owl-theme .owl-dots .owl-dot span{
    margin-right: 6px;
    margin-left: 6px;
    width: 13px !important;
    height: 13px !important;
    background-color: #fff;
    border: 1px solid #f0506e;
}
#our-clients  .owl-theme .owl-dots .owl-dot.active span{
    border: none;
    background-color: #f0506e;
}
/* End Our Clients */
/*FOOTER SECTION*/
#footer{
    padding-top: 100px;
    background-color: #1f1f1f;
}
#footer a , #footer p{
    color: #fff;
    font-size: 19px;
    margin-bottom: 10px;
}
#footer h6 {
    color: #b9c6d6;
    font-size: 23px;
    font-weight: bolder;
    padding-bottom: 20px;
    text-transform: uppercase;
}
#footer a:hover{
    color: #e8002a;
    margin-bottom: 8px;
}
.footer-columns img{
    margin-top: 7px;
    margin-bottom: 10px;
    padding-right: 19px;
}
.footer-columns {
    padding-right: 94px;
}
.footer-bottom{
    border-bottom: 1px solid #3b404b;
    padding-bottom: 30px;
}
.footer-menu ul {
    list-style-type: none;
    display: inline-flex;
    padding-left: 0px;
}
.footer-menu a{
    color: #6e7a8d;
    font-size: 18px;
    padding:22px;
}
.footer-menu .active{
    color: #fff;
}
.footer-menu a:hover{
    color: #e8002a;
}
.footer-social a {
    padding: 0px 20px;
    font-size: 24px;
    color: #6e7a8d;
}
.footer-social{
    text-align: right;
}
.footer-social a:hover{
    color: #fff;
}
.footer-menu-social{
   background-color: #1f1f1f;
   padding: 60px 0px 25px 0px;
}
.copyright {
    padding-top: 20px;
}
.copyright p{
    color: #6e7a8d;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.copyright p>a{
    color: #e8002a;
}
.copyright .our-info a{
    color: #fff;
}
/* Menu page */
#top-banner{
    height: 310px;
    margin-top: 92px;
}
.top-banner-overlay{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(244, 7, 7, 0.8);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.top-banner-caption {
    color: #fefefe;
    margin: auto;
    text-align: center;
    padding: 81px 0px;
}
.top-banner-caption h1{
    font-weight: bolder;
    font-size:58px;
    letter-spacing: 1px;
    line-height: 42px;
    padding-bottom: 30px;
}
.top-banner-caption p{
    font-size: 19px;
    line-height: 24px;
    font-weight: 100;
    color: #fef9fa;
}
/* Veg Menu*/

#menu-page{
    padding: 120px 0px;

}
#menu-page h3{
    font-weight: 600;
    padding-bottom: 45px;
    font-size: 25px;
}
.veg-content{
    padding: 0px;
    float: left;
}
.veg-description{
    padding: 23px 20px 0px 26px;
}
.veg-image {
    padding: 0px;
    float: left;
}
#menu-page .veg-image img{
    width: 100%;
    height: 230px;
}
.veg-inner-image { 
    height: 230px;
 }
 .veg-listing {
    width: 48%;
    background-color: #f7f7f7;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    padding: 0px;
    margin: 0px 20px 25px 0px;
    float: left;
}
#menu-page .veg-description a>h6{
    font-size: 18px;
    font-weight: bolder;
    color: #393939 !important;
}
a.price {
    color: #e8002a;
     font-weight: bolder; 
    font-size: 30px;
    float: right;
}
.price span {
    font-size: 18px;
}
.veg-listing:hover #menu-page .veg-description a>h6{
    color: #3e7de4;
}
#menu-page .veg-description a>h6:hover {
    color:#3e7de4 !important;
}
#menu-page .veg-description h6{
    color: #d3d3d3;
}
#menu-page p{
    color: #848484;
    font-size: 15px;
}
/* End Veg Menu*/
/* Menu About */
#menu-page-about{
    height: 600px;
}
.menu-page-about-overlay{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.menu-page-about-caption {
    color: #fefefe;
    margin: auto;
    text-align: center;
    padding: 200px 0px;
}
.menu-page-about-caption h1{
    font-weight: bolder;
    font-size:58px;
    letter-spacing: 1px;
    line-height: 42px;
    padding-bottom: 70px;
}
.menu-page-about-caption p{
    font-size: 19px;
    line-height: 24px;
    font-weight: 100;
    color: #fef9fa;
}
/* End Menu About */
/* Non Veg */
#non-veg-menu{
    padding:100px 0px;
}
#non-veg-menu h3{
    font-weight: 600;
    padding-bottom: 25px;
    font-size: 25px;
}
.non-veg-image{
    padding: 0px;
    float: left;
}
.non-veg-image img{
    width: 78px;
    border-radius: 100%;
    height: 72px;
}
#non-veg-menu h5 {
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}
#non-veg-menu h6 {
    color: #7b7b7b;
    font-size: 13px;
    font-weight: 600;
}
.non-veg-caption {
    float: left;
    padding-left: 7px;
    padding-top: 13px;
}
.non-veg-price {
    float: left;
    color: #e8002a;
    font-weight: 600;
    font-size: 18px;
    padding-left: 16px;
    padding-top: 10px;
}
.non-veg-listing {
    border-bottom: 2px solid #cecece;
    max-width: 90%;
    margin-right: 38px;
    margin-bottom: 25px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
}
.non-veg-listing h4 {
    font-size: 20px;
    color: #5d5d5d;
    font-weight: bolder;
    position: relative;
    top: 20px;
    margin-bottom: 37px;
    padding-bottom: 10px;
    border-bottom: 2px solid #cecece;
    padding-top: 30px;
}
  
.non-veg-variety {
    padding-top: 40px;
}
/* End Non Veg */
/* End Menu page */

/* Reservation Page */
.reservation-image{
    padding-right: 0px
}
#facilities img{
    width: 100%;
}
#facilities h2 {
    color: #e8002a;
    font-size: 80px;
    font-weight: bolder;
    line-height: 35px;
    padding-top: 0px;
    padding-bottom: 15px;
}
#facilities h2>span{
    font-size:23px;
    color: #535353;
    font-weight: 100;
}
#facilities p {
    font-size: 17px;
    padding:0px 50px;
    line-height: 24px;
}
.reservation-btn {
    padding-top: 12px;
    padding-bottom: 44px;
}
.reservation-btn .btn.btn-info{
    font-size: 18px;
    padding: 4px 34px;
    background-color: #e8002a;
    border: 2px solid #e8002a;
}
.reservation-btn .btn.btn-info:hover {
    background-color: #fff !important;
    color: #e8002a !important;
}
.reservation-time {
    background-color: #f2f2f2;
}
.hall-reservation{
    padding: 100px 0px;
}
.hall-reservation:nth-child(2){
    padding-bottom: 100px;
    padding-top: 0px;
}
.hall-reservation:nth-child(2) .reservation-image {
    padding-right: 0px;
    padding-left: 0px;
}

.hall-reservation:nth-child(2) .reservation-time {
    padding-right: 0px;
    padding-left: 0px;
}
/* End Reservation Page */


/* Gallery Page*/
#portfolio{
    padding: 60px 0px 100px;
}
#portfolio .container {
    width: 980px;
}
.portfolioContainer {
    width: 100%;
    display: inline-block;
}
.portfolioFilter {
    padding-bottom: 55px;
}
.portfolioFilter a.current {
    background: #fff;
    color: #e8002a;
    border: 1px solid #e8002a;
}
.portfolioFilter a {
    margin-right: 6px;
    text-decoration: none;
    padding: 4px 21px;
    border-radius: 10px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    background-color: #e8002a;
    color: #fff;
    border: 1px solid #e8002a;
}
.portfolioFilter a:hover{
    background: #fff;
    color: #e8002a;
    border: 1px solid #e8002a;
}
#portfolio p{
    padding: 15px 0px;
}
#portfolio img{
    width: 100%;
}
.portfolio-info p, .portfolio-info h4{
    color:#fff;
    font-weight: bold;
    text-align: left!important;
}
#portfolio .portfolio-info p{
    padding: 3px 0px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: -9px;
  margin-right: -59px;
  margin-top: 0px;
}
.portfolio-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  height: 200px;
}
 .portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.portfolio-item:hover .middle{
    opacity:1;
}
.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}
.categories{
  padding: 0px;
}
#portfolio .btn.btn-infos {
    background-color: #f95b5c;
    color: #fff;
    font-weight: bolder;
    border-radius: 8px;
    padding: 3px 10px;
    margin-top: 42px;
    cursor: pointer;
}
#portfolio .btn.btn-infos:hover{
    background-color:#ff8485;
}
/* END Gallery Page*/

/* About Us Page*/
#about.about-us-page{
    background-color: #fff;
}
#our-team.about-page-desc{
    padding: 0px;
}
#our-team.about-page-desc h2 {
    color: #353435;
    font-size: 55px;
    font-weight: 600;
    padding-left:44px; 
}
#our-team.about-page-desc p {
    font-size: 18px;
    padding-left: 47px;
    line-height: 30px;
    padding-right: 65px;
    padding-bottom: 40px;
}
.about-page-image{
    padding: 0px;
}
/* End About Us Page*/
/* Contact Us Page*/
#get-in-touch  iframe{
    width: 100%;
}
#get-in-touch {
    padding: 100px 0px;
}
#get-in-touch .reservation-form-inner {
    padding: 0px;
}
#get-in-touch .reservation-form-inner h3{
    background-color: #e8002a;
}
#get-in-touch .reservation-form-inner form{
    background-color: #f2f2f2;
}
#get-in-touch .reservation-form-inner input{
    background-color: #fff !important;
    border-radius: 21px;
    border:none !important;
}
#get-in-touch  .reservation-form-inner textarea{
    background-color: #fff !important;
    border-radius: 15px;
    border:none !important;
}
#get-in-touch .reservation-form-inner form{
    padding: 35px 28px 12px 28px;
}
#get-in-touch .gj-datepicker-bootstrap [role=right-icon] button {
    border: 1px solid #f1f1f1;
    background-color: #fff;
}
#get-in-touch .form-control:focus{
    padding-left: 20px !important;
}
#get-in-touch .form-btn{
    padding-top: 5px;
}
#get-in-touch ::-webkit-input-placeholder {
    padding-left: 15px;
}
/* Contact Us Page*/
/* Our Team Page*/
.our-team-page{
    background-color: #fff !important;
}
.our-team-page .server-img img{
    right: 0px;
    left: 523px;
}
.our-team-page .about-caption h3, .about-caption p{
    padding: 0px 254px 0px 77px !important;
}
/* End Our Team Page*/
/* Special Menu Detail Page*/
#special-menu-detail{
    padding: 100px 0px;
}
.special-menu-detail-image{
    padding: 0px;
}
.special-menu-detail-image img{
    width: 100%;
}
.special-menu-content {
    padding: 0px 27px 0px 50px;
}
.special-menu-content h4{
    color: #656565;
}
.special-menu-content h3{
    font-size: 26px;
    color: #363636;
}    
.special-menu-content h4>span{
    color: #e8002a;
    font-size: 36px;
    padding-left: 40px;
}
.special-menu-content p, .special-menu-content h6{
    color: #656565;
}
.special-menu-content p{ font-size:17px; }
.special-menu-btn{
    padding-top: 30px;
}
.special-menu-btn .btn.btn-info{
    color: #000;
    font-size: 18px;
    padding: 7px 23px;
    border: 2px solid #505050;
    margin-right: 12px;
}
.special-menu-btn .btn.btn-info:first-child{
    border: 2px solid #e8002a;
}
/* End Special Menu Detail Page*/


/* Responsive Query */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.navbar-light .navbar-nav .nav-link {
    margin: 0px 22px;
}  
.about-caption h3 {
    padding: 0px 20px 0px 220px;
}
.about-caption p {
    padding: 0px 20px 0px 220px !important;
}
.our-team-image{
    margin-top: 200px;
}
.footer-menu a{
    padding: 15px;
}
#facilities h2{
    padding-bottom: 0px;
}
#facilities p{
   padding: 0px 27px;
   margin-bottom: 14px;
}
.reservation-btn {
    padding-top: 0px;
    padding-bottom: 10px;
}
.our-team-page .about-caption h3, .our-team-page .about-caption p {
    padding: 0px 254px 0px 77px !important;
}
.our-team-page .server-img img{
    left: 375px;
}
} 
@media only screen and (min-width: 768px) and (max-width: 991px) {
.navbar{
    padding: 22px;
}

.show ul.navbar-nav.ml-auto.sf-js-enabled.sf-arrows {
    background-color: #786767;
    padding: 5px 0px 19px 12px;
    margin-top: 30px;
    margin-bottom: 20px;
}
li.nav-item {
    width: 158px;
}
li.nav-item a:hover li.nav-item {
    width: 158px;
}

.about-caption h3, .about-caption p{
    padding: 0px 40px !important;
    bottom: 315px;
}
.about-caption h3{
    font-size: 28px;
}
#about {
    height: auto;
    padding-top: 100px;
    padding-bottom: 200px;
}
.about-caption {
    height: 412px;
}
.about-caption img {
    height: 412px;
}
.server-img img {
    bottom: 5px;
    right: 55px;
    width: 340px;
}
.service-lists{
    top: 288px;
}
.service-list-inner {
    padding: 80px 15px 15px 15px;
}
#special-menu .owl-prev{
        left: -15px;
}
#special-menu .owl-next{
        right: -15px;
}
.our-team-image{
    margin-top: 200px;
}
#our-clients p {
    padding: 50px 15px 0px 15px;
}
.footer-bottom-col2 {
    margin-left: -45px;
}
.footer-bottom-col3 {
    margin-left: 45px;
}
#footer a, #footer p {
    font-size: 16px;
}
#footer h6{
    font-size: 17px;
}
.footer-menu a {
    font-size: 17px;
    padding: 6px;
}
.footer-menu{
    padding: 0px;
}
.footer-social a{
    padding: 0px 14px;
}
.reservation-time {
    max-width: 100%;
    flex: 0 0 100%;
}
.reservation-image {
    max-width: 100%;
    flex: 0 0 100%;
}
.reservation-image {
     padding-right: 15px; 
}
.reservation-time{
    margin: 0px 15px;
}
.hall-reservation:nth-child(2) .reservation-image {
    margin: 0px 15px;
}
.our-team-page .server-img img {
    right: 0px;
    left: 270px;
}
.our-team-page .about-caption h3, .our-team-page .about-caption p{
    padding: 0px 40px !important;
}
}
@media only screen and (min-width: 769px) and (max-width: 1199px) {
 #banner-slider .carousel-caption.d-none.d-md-block{
    width: 100%;
    padding-bottom: 70px;
    left: 4%;
 }  
 #banner-slider .carousel-caption.d-none p{
    padding-right: 0px;
 }
 #banner-slider .carousel-caption .btn.btn-info{
    margin-bottom: 18px;
 }
.veg-listing{
    width: 100%;
}
#our-team.about-page-desc .our-team-image {
     margin-top: 0px; 
}
#our-team.about-page-desc h2{
    padding-left: 15px;
    line-height: 26px;
    padding-top: 33px;
    padding-bottom: 15px;
    font-size: 45px;
}
#our-team.about-page-desc p {
    font-size: 16px;
    padding: 0px 15px 15px 15px;
    line-height: 24px;
}
.special-menu-detail-image {
    padding: 0px;
    max-width: 100%;
    flex: 0 0 100%;
}
.special-menu-content {
    padding: 0px 27px 0px 50px;
    max-width: 100%;
    flex: 0 0 100%;
}
.special-menu-detail-image {
    padding: 15px;
}
.special-menu-content {
    padding: 0px 15px;
}
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
.d-none {
     display: block!important; 
}
#banner-slider .carousel-caption{
    left:15%;
}
#banner-slider .carousel-caption.d-none h1{
    font-size:38px;
}
#banner-slider .carousel-caption.d-none.d-md-block{
    width: 100%;
}
.footer-menu a {
    color: #6e7a8d;
    font-size: 15px;
    padding: 6px;
}
#portfolio .portfolio-overlay{
    left: 30px;
  width: 89%;
  height: 95%;
}
}
@media only screen and (min-width: 320px) and (max-width:440px){
.portfolioFilter a {
    margin-right: 0px;
    padding: 2px 7px;
}
} 
@media only screen and (min-width: 320px) and (max-width:767px){
.navbar{
    padding: 22px;
}
.sticky .navbar {
    padding: 13px 0px 23px !important;
}
.sticky .navbar-light .navbar-nav .nav-link{
    padding: 13px 0px;
}
.show .nav-item a{
    padding: 10px 0px !important;
}
.show ul.navbar-nav.ml-auto.sf-js-enabled.sf-arrows {
    background-color: #786767;
    padding: 5px 0px 19px 12px;
    margin-top: 30px;
    margin-bottom: 20px;
}
li.nav-item {
    width: 158px;
}
li.nav-item a:hover li.nav-item {
    width: 158px;
}
#banner-slider .carousel-caption.d-none.d-md-block{
    left: 7px;
}
#banner-slider .carousel-item img {
    height: 500px;
}  
#banner-slider .carousel-caption.d-none.d-md-block{
    padding-bottom: 160px;
    width: 100%;
    text-align: center;
}
#banner-slider .carousel-caption .btn.btn-info{
    margin-bottom: 25px;
}
.carousel-inner {
    height: auto;
}
#banner-slider .carousel-caption.d-none p{
    padding-right: 15px;
    line-height: 26px;
}
#banner-slider .carousel-caption.d-none.d-md-block{
    padding-bottom: 70px;
}
#banner-slider .carousel-caption.d-none h2 {
    font-size: 41px;
    line-height: 43px;
     padding-bottom: 0px; 
}
.about-respons{
padding:10px 18px;
}
.about-caption h3, .about-caption p{
    padding: 0px 15px 0px 15px !important;
    bottom: 375px;
}
.about-caption h3{
    font-size: 28px;
}
.about-caption p{
    line-height: 22px;
}
#about {
    height: auto;
    padding-top: 100px;
    padding-bottom: 200px;
}
.about-caption {
    height: 412px;
}
.about-caption img {
    height: 412px;
}
.server-img img {
    bottom: 5px;
    right: 55px;
    width: 340px;
}
.service-lists{
    background-color: transparent;
    padding: 0 37px;
}
.service-list-inner{    
    padding: 62px 30px 15px 50px;
    background-color: rgba(255, 255, 255, 0.8);
}
.service-lists{
    top: 362px;
}
.service-list-inner li{
    font-size: 17px;
}
.service-list-inner h2{
    padding-bottom: 0px;
}
.service-list-inner p{
    font-size: 30px;
}
#special-menu h2{
    font-size: 64px;
}
#special-menu .owl-prev{
    top:0px; 
    left: 31%;
    float: left;
}
#special-menu .owl-next {
    top: -0px; 
    right: 31%;
    float: right;
}
.catering-caption-outer {
    bottom: -35px;
}
.catering-caption{
    padding: 32px 30px;
}
.catering-caption h2{
   padding-bottom: 3px;
   font-size: 70px;
}
.catering-btn .btn.btn-info {
    padding: 15px 58px;
    width: 100%;
}
.catering-btn {
    padding-top: 15px;
}    
#catering{
    padding-bottom: 150px;
}
#reservation {
    height: auto;
}
.restaurant-info{
    text-align: center;
}
#top-banner {
    margin-top: 88px;
}
.top-banner-caption {
    padding: 37px 5px;
}
.veg-listing{
    width: 100%;
}
.reservation-image {
     padding-right: 15px; 
}
.reservation-time{
    margin: 0px 15px;
}
.hall-reservation:nth-child(2) .reservation-image {
    margin: 0px 15px;
}
#our-team.about-page-desc p{
    padding-right: 15px;
    padding-left: 15px;
}
#our-team.about-page-desc h2{
    padding-left: 15px;
}
#get-in-touch .reservation-form {
    padding-top: 45px;
}
.our-team-page .server-img img {
    left: 0px; 
}
.our-team-page .about-caption h3, .about-caption p {
     padding: 0px 15px !important; 
}
.special-menu-detail-image {
    padding: 15px;
}
.special-menu-content {
    padding: 0px 15px;
}
.special-menu-btn .btn.btn-info{
    font-size: 14px;
    padding: 7px 16px;
    margin-right: 2px;
}
}
@media only screen and (min-width: 575px) and (max-width: 767px) {
    #banner-slider .carousel-caption.d-none.d-md-block {
    padding-bottom: 170px;
}
}
@media only screen and (min-width: 320px) and (max-width: 575px) {
    #portfolio .container {
    width: 100%;
}
.sticky .navbar {
    padding: 22px !important;
}
.non-veg-listing{
    margin-left: 30px;
}
.portfolioContainer {
    width: 100% !important;
    display: flex !important;
}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
.navbar img{
        width:80%;
}
.d-none {
     display: block!important; 
}
#banner-slider .carousel-caption.d-none p{
    font-size: 22px;
}
#banner-slider .carousel-caption.d-none h1{
    font-size: 25px;
}
#banner-slider .carousel-caption{
    left: 50px;
}
.footer-menu a {
    font-size: 17px;
    padding: 15px;
}
.footer-menu ul {
    display: block;
}
}
/* End Responsive Query */

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}